body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1b1b1b;
    width: 100%;
    box-sizing: border-box;
}

.hero-content {
    max-width: 45%;
    text-align: left;
}

.hero-content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1rem;
    margin-bottom: 20px;
}

#signup-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#email {
    padding: 10px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    flex-grow: 1;
    max-width: 200px;
}

button {
    padding: 10px 20px;
    font-size: 0.9rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.hero-image {
    max-width: 45%;
    text-align: right;
}

.logo {
    width: auto;
    height: 250px; /* Adjusted for better fit */
    max-height: 100%;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #282828;
    width: 100%;
    box-sizing: border-box;
}

.feature-item {
    background-color: #333333;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 15px 0;
    width: 100%;
    max-width: 150px; /* Reduced to 50% of original width */
}

.feature-item h2 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 0.9rem;
    line-height: 1.5;
}

.feature-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .hero-section {
        flex-direction: row;
        justify-content: space-between;
    }

    .hero-content {
        text-align: left;
    }

    #signup-form {
        flex-direction: row;
        justify-content: flex-start;
    }

    #email {
        flex-grow: 1;
        max-width: none;
    }

    .features {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .feature-item {
        max-width: 22%;
        margin: 15px;
    }
}
