<nav class="navbar">
    <div class="logo">
        <a href="/index.html">
            <img src="/images/website-logo.png" alt="Website Logo" class="navbar-logo">
        </a>
    </div>
    <ul>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle">Learn</a>
            <ul class="dropdown-menu">
                <li><a href="/Courses/index.html">Courses</a></li>
                <li><a href="/Interviews/index.html">Interviews</a></li>
                <li><a href="/Articles/index.html">Articles</a></li>
            </ul>
        </li>
        <li><a href="/networking/index.html">Networking</a></li>        
        <li><a href="/apps/index.html">Apps</a></li>
        <li><a href="/about/index.html">About</a></li>
    </ul>
</nav>
